@using IdeoTreeStructure.MVC.Models;
@model TreeElement
@{
    ViewBag.Title = "Index";
}
@helper ShowTree(TreeElement root)
{
    <ul style="list-style-type: none">
        @foreach (var element in root.Children)
        {
            <li>
                <div class="bg-light border border-primary rounded m-2">
                    <h5>@element.Id</h5>
                    <button type="button" class="btn btn-danger" id=@element.Id onclick="removeButtonClicked(this.id)">rm</button>
                    <p>@element.Content</p>

                    @if (element.Children.Any())
                    {
                        @ShowTree(element)
                    }
                </div>
            </li>
        }
    </ul>
}
@ShowTree(Model)
<script>
    function removeButtonClicked(clickedId) {
        $.ajax({
            url: '@Url.Action("RemoveNode", "Home")',
            type: 'GET',
            data: { id: clickedId },
            success: function () {
                location.reload();
            }
        });
    }
</script>